player-connection-mode=Listen
player-connection-guid=1170203039
player-connection-debug=0
player-connection-project-name=Wordle
player-connection-ip=10.0.0.87
player-connection-ip=10.2.0.2
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8076c8b0528840e9aec2567f20e02d99
